<ion-header>
    <div *ngIf="!showSearchBar">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="products"></ion-back-button>
            </ion-buttons>
            <ion-title><img src="assets/top.PNG"></ion-title>

            <ion-button slot="end" (click)="onclick($event)" fill="clear">
                <ion-icon slot="icon-only" size="large" name="search"></ion-icon>
            </ion-button>
            <ion-searchbar *ngIf="showSearchBar" (ionChange)="getItems($event)" (ionFocus)="getItems($event)" (ionInput)="getItems($event)">
            </ion-searchbar>

        </ion-toolbar>
    </div>
    <div *ngIf="showSearchBar">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="products"></ion-back-button>
            </ion-buttons>
            <ion-searchbar *ngIf="showSearchBar" (ionChange)="getItems($event)" (ionFocus)="getItems($event)" (ionInput)="getItems($event)">
            </ion-searchbar>

        </ion-toolbar>

    </div>
</ion-header>

<ion-content>

    <p><b>All Products</b></p>
    <div *ngIf="showSearchBar">

        <ion-card [routerLink]="['/productDetail',item.p_name]" *ngFor="let item of searchproduct">
            <h6>{{item.p_name}}</h6>
            <p>KB Part No : {{item.p_kb_part_no}}</p>
        </ion-card>

    </div>



    <div *ngIf="!showSearchBar">


        <ion-card [routerLink]="['/productDetail',product.p_name]" *ngFor="let product of products">
            <h6>{{product.p_name}}</h6>
            <p>KB Part No : {{product.p_kb_part_no}}</p>
        </ion-card>

    </div>
</ion-content>




<!-- <ion-card class="adjust2">
            <ion-searchbar style="padding-bottom: 0px; all: unset;" (ionChange)="getItems($event)" (ionFocus)="getItems($event)" (ionInput)="getItems($event)" placeholder="product,vehicle model,part no,company"></ion-searchbar>



            <ion-card-content class="card-content" style="padding: 0px;">
                <div class="break"></div>
                <ion-grid style="padding: 0px;">
                    <ion-row class="search_row" *ngFor="let item of searchproduct" [routerLink]="['/productDetail',item.p_name]">
                        <ion-col size=1 style="padding: 0px; padding-top: 5px;">
                            <img src={{item.src}} style="width: 21.66; height: 18.39;">
                        </ion-col>
                        <ion-col size=11>
                            {{item.p_name}}
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-card-content>
        </ion-card> -->