ion-content {
    --background: rgb(250, 250, 250);
}

p {
    margin-left: 15px;
    font-size: 22px;
}

ion-card {
    border-radius: 8px;
    p {
        font-size: 14px;
    }
    h6 {
        color: black;
        margin-left: 15px;
        ;
    }
}