<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
  </ion-buttons>
    <ion-title><img src="assets/top.PNG"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p><b>All Products</b></p>
  <ion-card (click)="gotoProductdetails()" *ngFor="let product of products">
    <h6>{{product.p_name}}</h6>
    <p>KB Part No : {{product.p_kb_part_no}}</p>
  </ion-card>
  <!-- <img src="http://sv4.mshare.space/td/O7feBGfZq3"> -->
</ion-content>
