ion-content {
    --background: rgb(255, 255, 255);
    white-space: pre-wrap
}

img {
    height: 225px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

p {
    margin-left: 10px;
    height: 5px;
}

ion-row {
    margin-left: 10px;
    ion-row {
        margin-left: 0px;
    }
}

a {
    margin-left: 10px;
}

#img2 {
    widows: 70%;
    height: fit-content;
    display: block;
    margin: 0 auto;
}

#img3 {
    width: 170px;
    height: 30px;
    max-width: 100%;
    margin-left: 5px;
}

.button.customBtn {
    width: 100%;
    background-color: #264599;
    height: 45px;
    color: white;
    position: absolute;
}