<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="company"></ion-back-button>
        </ion-buttons>
        <ion-title><img src="assets/top.PNG" id="img2"></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngFor="let comp of company">
    <p><b>{{comp.name}}</b></p>
    <ion-grid>
        <ion-row>
            <ion-segment [(ngModel)]="duty">
                <ion-segment-button value="light">Light Duty
                </ion-segment-button>
                <ion-segment-button value="Medium">Medium Duty
                </ion-segment-button>
                <ion-segment-button value="Heavy">Heavy Duty
                </ion-segment-button>
            </ion-segment>
        </ion-row>
        <ion-row>
            <ion-col *ngFor="let vehicle of vehicles" size="6">
                <ion-card [routerLink]="['/productByVehicle',vehicle.v_name]">
                    <img src={{vehicle.src}}>
                    <p>{{vehicle.v_name}}</p>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="data">
        {{nodata}}
    </div>
</ion-content>