<ion-header>
    <ion-toolbar>
        <ion-title><img src="assets/top.PNG"></ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-slides pager>
        <ion-slide>
            <img src="assets/slide1.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/slide3.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/slide1.jpg">
        </ion-slide>
    </ion-slides>
    <ion-searchbar (ionChange)="getItems($event)" (ionFocus)="getItems($event)" (ionInput)="getItems($event)" placeholder="Product,Part No.,Company,Vehicle Model">
    </ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of searchproduct">
            {{ item.p_name}}
        </ion-item>
        <ion-item *ngFor="let item of searchcomp">
            {{ item.name }}
        </ion-item>

    </ion-list>

    <!-- <ion-searchbar placeholder="Product,Part No.,Company,Vehical Model"></ion-searchbar>
    <ion-card #cc class="ion-card-search">
        <ion-list #cc>
            <ion-item [routerLink]="['/company', company.name]" *ngFor="let company of company">{{company.name}}</ion-item>
        </ion-list>
    </ion-card> -->
    <!-- <ion-card #cc class="ion-card-search">
        <ion-list #cc>
            <ion-item [routerLink]="['/productDetail',item.id]" *ngFor="let item of product">{{item.p_name}}</ion-item>
        </ion-list>
        <ion-list #cc>
            <ion-item [routerLink]="['/searchCompany',item.id]" *ngFor="let item of company">{{item.name}}</ion-item>
        </ion-list>
        <ion-list #cc>
            <ion-item [routerLink]="['/searchVehicle',item.id,item.company_id,item.type]" *ngFor="let item of vehicle">{{item.v_name}}</ion-item>
        </ion-list>
    </ion-card> -->
    <div>
        <p>
            <b>
      Hi KHASH,<br>
      How can we help you?
    </b>
        </p>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size=4>
                <ion-card (click)="gotoProducts()">
                    <img src="assets/products icon.svg">
                    <div class="p1">Products</div>
                </ion-card>
            </ion-col>
            <ion-col size=4>
                <ion-card (click)="gotoPriccelist()">
                    <img src="assets/price list icon.svg">
                    <div class="p1">Price List</div>
                </ion-card>
            </ion-col>
            <ion-col size=4>
                <ion-card>
                    <img src="assets/distributors icon.svg">
                    <div class="p1">Distributors</div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size=4>
                <ion-card>
                    <img src="assets/distributors icon.svg">
                    <div class="p1">Service Center</div>
                </ion-card>
            </ion-col>
            <ion-col size=4>
                <ion-card>
                    <img src="assets/maintenance & troubleshooting icon.svg">
                    <div class="p1">Maintanance & Troubleshooting</div>
                </ion-card>
            </ion-col>
            <ion-col size=4>
                <ion-card>
                    <img src="assets/contact us icon.svg">
                    <div class="p1">Contact Us</div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <p>
        <b>What's new</b>
    </p>
    <ion-card id="news-card">
        <ion-grid>
            <ion-row>
                <a href="">Stratan</a>
            </ion-row>

            <ion-row>
                <a href="">Ohio</a>
            </ion-row>

            <ion-row>
                <a href="">Dayton</a>
            </ion-row>
        </ion-grid>

    </ion-card>
    <p>
        <b>Want to know more?</b><br/>
    </p>
    <h6 style="margin-left: 15px;">Visit <a href="">www.knorr-bremsecvs.com</a></h6>

</ion-content>