<ion-header>
  <ion-toolbar>
    <ion-title>price-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p><b>Price List</b></p>
  <ion-card>
    <p>All Products</p>
  </ion-card>
  <ion-card>
    <p>Vehicle Make</p>
  </ion-card>
  <ion-card>
    <p>Air Treatment</p>
  </ion-card>
  <ion-card>
    <p>Control Valves</p>
  </ion-card>
  <ion-card>
    <p>Foundation Brakes</p>
  </ion-card>
  <ion-card>
    <p>Lift Axle
    </p>
  </ion-card>
  <ion-card>
    <p>ABC & Trailer ABC</p>
  </ion-card>
  <ion-card>
    <p>Kits &Loose Parts</p>
  </ion-card>
  
  </ion-content>
  
